.ui.borderless.topmenu.menu {
  font-family: Arial, sans-serif;
  font-size: 13px;
  box-shadow: none;
  border: none;
  padding-top: 5px;
}

.ui.centered.medium.google.image {
  margin-top: 170px;
}

.ui.left.icon.right.labeled.input {
  margin-top: 20px;
  margin-bottom: 20px;
}

.ui.center.button {
  margin-left: 280px;
  background-color: #F2F2F2;
}

.ui.button {
  background-color: #F2F2F2;
}

input[type="text"] {
  width: 387px;
}
.ui.mini.left.floated.image {
  padding-top: 0px;
}
.underthebuttons {
  margin-top: 40px;
  font-size: 13px;
  font-family: Arial, sans-serif;
}

.ui.borderless.bottom.fixed.menu {
  font-family: Arial, sans-serif;
  font-size: 13px;
  background-color: gainsboro;
}