.ui.borderless.topmenu.menu {
  font-family: Arial, sans-serif;
  font-size: 13px;
  box-shadow: none;
  border: none;
  padding-top: 5px;
}

.ui.centered.medium.google.image {
  margin-top: 170px;
}

.ui.left.icon.right.labeled.input {
  margin-top: 20px;
  margin-bottom: 20px;
}

.ui.center.button {
  margin-left: 280px;
}

input[type="text"] {
  width: 387px;
}

.ui.borderless.bottom.fixed.menu {
  font-family: Arial, sans-serif;
  font-size: 13px;
  background-color: gainsboro;
}